/* Body */

body {
  background: #fff;
  font: 16px/20px Arial, Sans-Serif;
  min-height: 600px;
}

/* container-fluid */

.container-fluid {
  margin: 3% 1% 1% 1%;
}

/* Error - div */

.error {
  left: 0;
  margin: 270px auto 0 auto;
  position: absolute;
  right: 0;
}

/* box - div that holds container-1 and container-2 */

.box {
  height: 50px;
  margin: 300px auto;
  position: relative;
  width: 350px;

}

.moveToTopRight {
  top: 0;
  right: 0;
  margin: 0 0 0 auto;
  margin-bottom: 0;
}

/* Container-1 */

.container-1 {
  margin: auto;
  position: relative;
  vertical-align: middle;
  width: 350px;
}

.container-1 #searchBox {
  background: #86bac3;
  border: 4px solid #aaa;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #666;
  font-size: 18px;
  height: 50px;
  padding-left: 43px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
  width: 350px;
}

.container-1 #searchBox::-webkit-input-placeholder {
  color: #666;
}

.container-1 #searchBox::-moz-placeholder {
  color: #666;
}

.container-1 #searchBox:-moz-placeholder {
  color: #666;
}

.container-1 #searchBox:-ms-placeholder {
  color: #666;
}

.container-1 .icon {
  color: #666;
  margin-top: 15px;
  margin-left: 15px;
  position: absolute;
  z-index: 100;
}

.container-1 input#searchBox:hover, .container-1 input#searchBox:focus, .container-1 input#searchBox:active{
  background: #fff;
  outline: none;
}

/* Container-2 */

.container-2 {
  margin-top: 8%;
}

.fa-random {
  color: #3d909f;
}

/* resultsBox - div that contains search results */

.resultsBox {
  margin: 0 0 50px 0;
  padding: 0px;
}

.row {
    margin-bottom: 3%;
}

.row-header {
    margin-bottom: 0;
}

h1 {
  color: #444;
}

.resultsHeader {
  font-size: 24px;
  font-weight: bold;
}

/* Img */

.img-responsive {
  height: 100px;
  margin: 0 auto;
}

.imgResults {
  /*min-height: 100px;*/
}

/* Links */

.resultLink {
  font-size: 20px;
  font-weight: bold;
}

/* Footer */

.footer {
  background: #dce1e2;
  border-top: 2px solid #a8b4b7;
  bottom: 0;
  color: #666;
  height: 50px;
  opacity: 0.95;
  padding-top: 3px;
  position: fixed;
    left: 0;
    right: 0;
  z-index: 100;
}

/**------media-----**/

@media screen and (max-width: 768px) {
  .img-responsive {
    height: 120px;
    margin: 0 auto;
  }
  .imgResults {
    min-height: 120px;
  }
  .result {
    height: 120px;
    overflow: hidden;
  }
}
